
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
}


header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #4a90e2;
}


main {
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4a90e2;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 8px 0 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #357abd;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;

}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}